<main>
    <div class="card-deck">
        <div class="row">
            <div class="col-xs-6 col-lg-4" ng-repeat="item in allData.items">
                <div class="card">

                <img class="card-img" src="img/{{item.image}}">
                    <div class="card-content">
                        <h2 class="card-block">{{item.full_name}}</h2>
                        
                    </div>
                    <p><a class="btn" href="#/details/{{item.id}}" role="button">View details &raquo;</a></p>
                </div>
            </div><!--/.col-xs-6.col-lg-4-->        

        </div><!--/row-->
    </div>
</main>